* {
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing: antialiased;
	box-sizing: border-box;

}

body {
	margin:0;
	padding:0;
}

	/* global */

.container {
	font-family: 'Antic Slab', serif;
	background: #B0E2FF;
	padding:30px;
}


.form-body {
	max-width: 900px;
	margin:0 auto;
	background: #fafafa;
	border-radius: 10px;
}


header {
	background: #00688B;
	background: -webkit-linear-gradient(#6996AD, #00688B);
	background: -o-linear-gradient(#6996AD, #00688B);
	background: linear-gradient(#6996AD, #00688B);
}

ol {
	margin:0;
	padding:0;
}

ol > li {
	margin: 80px 0;
}

ol, ul {
	list-style: none; 
}

	/*typography */

.h1 {
	font-size: 70px;
	padding:40px 0 0 0;
	color:#fff;
	letter-spacing: -2px;
	font-weight: bold;
	margin:0;
}

.h4 {
	font-size: 15px;
	padding:0 0 40px 0;
	color:#B0E2FF;
	font-weight: bolder;
}

.legend {
	font-size: 24px;
	color: #00688B;
	font-weight: bold;
	letter-spacing: -1px;
	position: relative;
	bottom: 25px;
	right: 65px;
}


/* form elements */

form {
	border-radius: 5px;
	overflow: hidden;
	max-width: 740px;
}

.form {
	margin:0 auto;
}

fieldset {
	border: 0;
	margin:0;
	padding:30px 70px;
	background: #f5f5f5;
	position: relative;
	border-radius:12px;
}

fieldset > div {
	padding:20px 0;
}

label {
	display: block;
	margin-bottom:10px;
	padding:0;
}

input {
	background: #fff;
	border: 1px solid #c6c7cc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	padding: 15px;
	width: 100%;
	border-radius: 5px;
}

.dropdowns {
	margin:0;
	padding-top: 50px;
}

#dropdowns {
	position: relative;
	left: -3px;
}

#number {
	width: 50%;
	display: block;
}

#security {
	width: 20%;
}

#number, #security {
	float: left;
}

.btn {
	height: 60px;
	width: 250px;
	color:#fafafa;
	background: #629632;
	font-size: 20px;
	font-family: 'Antic Slab', serif;
	font-weight: bolder;
	margin:0 auto;
	cursor: pointer;
}

.button {
	text-align: center;
	margin:50px 0;
}

.paypal {
	font-size: 15px;
	line-height: 28px;
	position: relative;
	left: 180px;
	text-decoration: none;
	color:#B0E2FF;
	font-family:  Lucida Grande, Arial, Verdana, sans-serif;
}

.paypal:hover {
	color:#00688B;
}

.note {
	color:#b0b0b0;
	font-weight: bold;
	display: block;
	padding: 10px 0;
}

#sample {
	position: absolute;
	right: 69px;
	top: 217px;
	width: 28%;
	height: 45px;
	background: #f2f2f2;
	border-top-left-radius: 0; 
	border-bottom-left-radius: 0; 
	font-size: 14px;
	text-align: center;
}


	/*sprites*/

.card-list {
	float: right;
}

.remove-padding {
	padding: 0;
}

.card-list li, .card-list li label, .card-list li input {
	display: inline-block;
}

.card-list li > label {
	width: 45px;
    height: 32px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    cursor: pointer; 
    text-indent: -9999px;
    margin: 0;
    padding: 0; 
    background-position: 0 -122px;
    /*image-text replacement*/
}


.card-list .amex label {
    background-position: 0 -164px; 
}

.card-list .amex input:checked + label {
    background-position:  0 -206px;
}

.card-list .visa label {
    background-position: -48px -206px;
}

.card-list .visa input:checked + label {
    background-position:  -48px -164px;
}

.card-list .discover label {
    background-position: -96px -248px; 
}

.card-list .discover input:checked + label {
    background-position: -96px -206px;
}

.card-list .mastercard label {
    background-position: -144px -290px;
}

.card-list .mastercard input:checked + label {
    background-position: -144px -248px;
}


input[type="radio"] {
	position: absolute;
	left: -9999px;
}


#security-icon {
  	background: url('../img/sprite.png') no-repeat -60px -499px;
	width: 14px;
	height: 19px;
	float: right;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

/*validate styling*/

input:required {

}

input:valid {
	background: url('../img/heart.png') no-repeat 550px 5px;
}

input:invalid:focus {
	outline:2px solid red;
	border-radius:5px;
	background: url('../img/spammer.png') no-repeat 550px 5px;
}

input:valid:focus {
	border-radius:5px;
	outline:2px solid green;
 }

.error {
	color:red;
	display: block;
	font-weight: bold;
	margin-top:10px;
}



	/* objects */

.contain {
	padding:0 80px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}