* {
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing: antialiased;
	box-sizing: border-box;

}

	/* global */

.container {
	font-family: 'Antic Slab', serif;
	background: #B0E2FF;
	}

.form-body {
	max-width: 900px;
	margin:0 auto;
	background: #fafafa;
	border-radius: 10px;
	}


header {
	background: #00688B;
	background: -webkit-linear-gradient(#6996AD, #00688B);
	background: -o-linear-gradient(#6996AD, #00688B);
	background: linear-gradient(#6996AD, #00688B);
	}

ol {
	margin:0;
	padding:0;
	}

ol > li {
	margin: 0 0 40px 0;
	padding:0 0 30px 0;
}

ol, ul {
	list-style: none; 

	}

	/*typography */

.h1 {
	font-size: 70px;
	padding:40px 0 0 0;
	color:#fff;
	letter-spacing: -2px;
	font-weight: bold;
	margin:0;
	}

.h4 {
	font-size: 15px;
	padding:0 0 40px 0;
	color:#B0E2FF;
	font-weight: bolder;
	}

.legend {
	font-size: 24px;
	color: #00688B;
	font-weight: bold;
	letter-spacing: -1px;
	}


	/*.cards a { image replacement
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}

	input[type="radio"]:checked{
	visibility:hidden;
	}

	*/
	/* form elements */

form {
	border-radius: 5px;
	overflow: hidden;
	max-width: 740px;
	}

.form {
	margin:0 auto;
	}

fieldset {
	border: 0;
	margin:0;
	padding:0;
	background: #f5f5f5;
	position: relative;
	border-radius:12px;
	}

label {
	display: block;
	padding:10px 0;
	}

input {
	background: #fff;
	border: 1px solid #c6c7cc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	padding: 12px;
	margin-top:10px;
	width: 100%;
	border-radius: 5px;
	}

.dropdowns {
	padding: 10px 0;
	margin:0;
	}

#dropdowns {
	position: relative;
	left: -3px;
	}

#number {
	width: 65%;
	display: block;
	}

#security {
	width: 20%;
	}

.btn {
	height: 50px;
	width: 250px;
	color:#fafafa;
	background: #629632;
	font-size: 20px;
	font-family: 'Antic Slab', serif;
	font-weight: bolder;
	margin:0 auto;
	cursor: pointer;
	}

.button {
	text-align: center;
	margin:50px 0;
	}

.paypal {
	font-size: 15px;
	line-height: 28px;
	position: relative;
	left: 180px;
	text-decoration: none;
	color:#B0E2FF;
	font-family:  Lucida Grande, Arial, Verdana, sans-serif;
	}

.paypal:hover {
	color:#00688B;
	}

.note {
	color:#b0b0b0;
	font-weight: bold;
	display: block;
	padding: 10px 0;
	}


	/*sprites*/

.cards {
	background: url('../img/sprite.png') no-repeat 0 -122px;
	height: 32px;
	width: 189px;
	position: relative;
	left: 500px;
	bottom: 70px;
	}

.cards-list {
	margin:0;
	padding:0;
	position: absolute;
	list-style-type: none;
	}



	/* objects */

	.contain {
	padding:0 80px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	}